@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: 'quicksand';
  background-color: #FEFDED;
}

/*Body*/
h1 {
    
    margin-left: 1.25%;
    color: #184d47;
  }

.form-container{
    display: flex; 
  justify-content: space-between; /* Ensures space is distributed evenly */
  margin-left: 2.5%;
  margin-right: 2.5%;
  align-items: stretch;
}

.left-container, .right-container{
    border-radius: 20px;
    width: 48%;
    padding: 1.25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background-color: #C6EBC5;
}


label, #sub-text{
    font-weight: bolder;
    font-size: 0.875rem;
    line-height: 2;
    color: #674747; /*not change*/
}

input[type="text"]{
    font-family: 'quicksand';
    font-size: 1rem;
    display: inline-block;
    border-radius: 20px;
    width: 30%;
    height: 6.25%;
    border-color: #4A4A44;
    background-color: #F5F5F5;
    color: #5C4033;
    font-weight: bold;
    padding-left: 0.625%;
    padding-right: 0.625%;
    margin-left: 0.625%;
  }


/*Left-container*/

input[type="number"] {
    font-family: 'quicksand';
    font-size: 1rem;
    display: inline-block;
    border-radius: 20px;
    border-color: #4A4A44;
    width: 20%;
    height: 1.875%;
    background-color: #F5F5F5;
    color: #5C4033;
    font-weight: bold;
    padding-left: 0.625%;
    padding-right: 0.625%;
    margin-left: 0.625%;

}

input[type="url"] {
    font-family: 'quicksand';
    font-size: 1rem;
    display: inline-block;
    border-radius: 20px;
    width: 50%;
    height: 1.875%;
    border-color: #4A4A44;
    background-color: #F5F5F5;
    color: #5C4033;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
}

input[type="checkbox"]{
    display: inline-block;
    width: 2vw; 
    height: 2vh;
    cursor: pointer; /* แสดงว่าเป็น clickable */
    margin-right: 0.625%; /* ช่องว่างระหว่าง checkbox กับ label */
    vertical-align: middle; /* จัดแนวในแนวตั้ง */
    margin-bottom: 0.625%;
}


.sub-Text, .sub-checkboxes{
    display: none; /*hide sub-element */
    margin-left: 1.25%;
    border: 20px;
    
  }

select{
    font-family: 'quicksand';
    font-size: 1vw;
    font-weight: bold;
    width: 15%;
    height: 4vh;
    background-color: #FA7070;
    color: #FFF2F2;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
}

option{
    font-family: 'quicksand';
    font-size: 1vw;
    font-weight: bold;
    background-color: #E6BAA3;
}

/*Right-container*/
#LocationLink{
    margin-top: 2%;
}

#btn{
    font-family: 'quicksand';
    font-size: 1.5vw;
    font-weight: bolder;
    width: 15%;
    height: 10vh;
    border-radius: 100px;
    border: none;
    background-color: #5AA469;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    display: block; /* ทำให้ปุ่มเป็น block */
    margin-left: auto; /* จัดกลางในแนวนอน */
    margin-right: auto; /* จัดกลางในแนวนอน */
}

#btn:hover{
    background-color:  #A6CF98;
    color: #5C4033;
} 

/* Media queries สำหรับการจัด layout */
@media (min-width: 1025px) {
  .left-container, .right-container {
      width: 48%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .left-container, .right-container {
      width: 100%;
      margin-bottom: 20px;
      margin-inline: 20px;
  }
  input::placeholder{
    font-size: 2vh;
    margin-left: 5%;
  }

  input[type="text"], input[type="number"], input[type="url"] {
      width: 90%;
  }

  #btn {
      width: 30%;
      height: 8vh;
  }
}

@media (max-width: 600px) {
  .form-container {
      flex-direction: column;
      align-items: center;
  }

  .left-container, .right-container {
      width: 100%;
      margin-bottom: 15px;
  }
  select{
    height: 3vh;
  }
  select, option{
    font-size: 1.5vh;
  }
  .boldLabel{
    font-size: 2vh;
  }

  input[type="text"], input[type="number"], input[type="url"] {
      width: 60%;
      height: 2vh;
  }
  input::placeholder{
    font-size: 1.5vh;
  }

  #btn {
      width: 50vw;
      height: 7vh;
      font-size: 5vw;
  }
}