@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  font-family: 'quicksand';
  background-color: #FEFDED;
}
.form-section{
    justify-content: center;
    display: flex; 
    margin: 40px auto; /* Centers horizontally and adds margin at the top */
    margin-top: 50px;
    align-items: stretch;
    border-radius: 50px;
    max-width: 90%; /* Set a maximum width to prevent it from getting too wide */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    background-color: #C6EBC5;
}
label{
    font-weight: bolder;
    font-size: 2rem;
    line-height: 2;
    color: #674747; /*not change*/
}

input[type="text"]{
    font-family: 'quicksand';
    font-size: 18px;
    display: inline-block;
    border-radius: 20px;
    width: 90%;
    height: 40px;
    border-color: #4A4A44;
    background-color: #F5F5F5;
    color: #5C4033;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }

  input[type="tel"] {
    font-family: 'quicksand';
    font-size: 16px;
    display: inline-block;
    border-radius: 20px;
    border-color: #4A4A44;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
    color: #5C4033;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

}

input[type="url"]{
    font-family: 'quicksand';
    font-size: 18px;
    display: inline-block;
    border-radius: 20px;
    width: 90%;
    height: 40px;
    border-color: #4A4A44;
    background-color: #F5F5F5;
    color: #5C4033;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }
i{
    margin-right: 10px;
}
select{
    font-family: 'quicksand';
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    height: 35px;
    background-color: #FA7070;
    color: #FFF2F2;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

option{
    font-family: 'quicksand';
    font-size: 16px;
    font-weight: bold;
    background-color: #E6BAA3;
}

.containerRow {
    display: grid;                         /* ใช้ grid layout */
    grid-template-columns: 1fr 1fr;       /* กำหนดให้มีสองคอลัมน์ */
    gap: 100px;                             /* ระยะห่างระหว่างคอลัมน์ */
    width: 100%;                           /* ให้ความกว้างเต็มพื้นที่ */
    margin: 10px 0;                       /* ระยะห่างระหว่างแถว */
}

.form-group {
    display: flex;                         /* ใช้ flexbox ภายในกลุ่ม */
    flex-direction: column;                /* จัดเรียง label และ select เป็นแนวตั้ง */
}


.form-group:last-child {
    margin-right: 0; /* ไม่ต้องมีระยะห่างที่กลุ่มสุดท้าย */
}




.btn{
    font-family: 'quicksand';
    font-size: 22px;
    font-weight: bolder;
    width: 180px;
    height: 80px;
    border-radius: 100px;
    border: none;
    background-color:  #A6CF98;
    color: #5C4033;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    display: block; /* ทำให้ปุ่มเป็น block */
    margin-left: auto; /* จัดกลางในแนวนอน */
    margin-right: auto; /* จัดกลางในแนวนอน */
}

.btn:hover{
    background-color: #5AA469;
    color: white;
}
