@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  font-family: 'quicksand';
  background-color: #FEFDED;
}

h1 {
    font-size: 60px;
    margin-left: 20px;
    color: #184d47;
  }

.search-container{
  display: flex;
  justify-content: center;
}

input{
  font-family: 'quicksand';
      font-size: 20px;
      display: inline-block;
      border-radius: 50px;
      width: 50%;
      height: 70px;
      border-color: #4A4A44;
      background-color: #F5F5F5;
      color: #5C4033;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
}

#iconsearch{
  margin: 0px;
  align-self: center;
  font-size: 30px;
  position: relative;
  right: 50px;
}
p{
  color: red;
}