@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* Navbar */
.navbar {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  height: 130px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.brand {
  font-size: 60px;
  font-weight: bold;
  font-family: 'inria serif', serif;
}

.Purely{
  color: #50755A;
}
.brand h1 {
  display: inline; /* แสดงในบรรทัดเดียวกัน */
  margin-right: 10px; /* ระยะห่างระหว่าง "Purely" และ "Trace" */
  font-family: 'Inria Serif', serif;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: 5px;

}

.nav-links li {
  font-size: 38px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'quicksand';
  background-image: url('https://i.pinimg.com/736x/45/29/79/45297943396de5b6408ce417120f8125.jpg'); /* ใส่ลิงก์หรือชื่อไฟล์ภาพ */
  background-size: cover;/* ให้ภาพครอบคลุมทั้งหน้าจอ */
  background-position: center; /* ตำแหน่งภาพอยู่ตรงกลาง */ /* ทำให้ภาพอยู่คงที่ขณะเลื่อนหน้าเว็บ */
  background-attachment: fixed;
  background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
  color: #333;
  height: 100vh;
  width: 100vw;
}

h1{
  font-size: 300%;
  color: #333;
  font-family: 'quicksand';
  text-align: center;
}

.timeline-container {
  width: 100%;
  position: relative; /* ทำให้ลูกๆ ของ container นี้สามารถวางแบบ relative ได้ */
}

.timeline-image {
  max-width: 100%; /* ทำให้ภาพปรับขนาดตามขนาดหน้าจอโดยไม่เกินขนาดเต็ม */
  height: auto; /* ให้ความสูงปรับตามความกว้างเพื่อคงอัตราส่วน */
}

.Description{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: left;
}

/* วางตำแหน่งสำหรับแต่ละขั้นตอน */
.step1 .Graphic{
  top: 200%;
  left: 10%;
  width: 40px;
  height: 40px;
}
.step1 .Description {
  display: flex;
  top: 200%;
  left: 20%;
}

.step2 .Graphic{
  top: 250%;
  left: 10%;
  width: 40px;
  height: 40px;
}
.step2 .Description {
  display: flex;
  top: 200%;
  left: 20%;
}

.step3 .Graphic{
  top: 200%;
  left: 10%;
  width: 40px;
  height: 40px;
}
.step3 .Description {
  display: flex;
  top: 200%;
  left: 20%;
}

.step4 .Graphic{
  top: 200%;
  left: 10%;
  width: 40px;
  height: 40px;
}
.step4 .Description {
  display: flex;
  top: 200%;
  left: 20%;
}


p {
  font-size: 18px;
  color: #555;
}

.footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #ddd;
}